label {
  text-align: center;
}

.spacing {
  margin: 2px;
  padding: 2px;
}

.butt-grp {
  text-align: center;
}

button {
  text-align: center;
}

.submit-form {
  max-width: 400px;
  margin: auto;
  padding: 10px;
  border: 2px solid;
  border-radius: 20px;
  box-shadow: 5px 5px 10px #808080FF;
}

.form-group {
  text-align: center;
}

